/* Change the background of the entire visible page */
body {
    background-color: #b0efff; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(28, 122, 230);
    font-size: 21px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(18, 60, 247); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
